<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testimonios</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Bienvenidos a esta página</h1>
    <p>Esta es la página de Testimonios de Clientes</p>
    
        <section>
            <h2>Testimonios actuales</h2>
            <img src="static/css/img/testimonio.jpeg" alt="">
    </section>
    
</body>
</html>